.Login {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  background: red;
  .Login-box {
    padding: 2rem 4rem;
    padding-bottom: 1rem;
    background: white;

    display: flex;
    flex-direction: column;

    .Login-input {
      margin-bottom: 1rem;
      &.Login-input-username {

      }
      &.Login-input-password {

      }
    }

    .Login-button {
      margin-bottom: 1rem;
    }

    .Login-button-link {
      margin-bottom: 1rem;
      background: none;
      border: 0;

    }
  }

  .Login-loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,0.8);
  }
}