@import '../../../variables.scss';

.Tribe {

  .TribeContent {
    flex-grow: 1;
    background: $color-third-background;
    display: flex;
    flex-direction: column;

    .TribeContent-header {
      height: 2.5rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      border-bottom: 1px solid $color-main-background;
    }

    .TribeContent-main {
      flex-grow: 1;
      display: flex;
      .TribeContent-content {
        flex-grow: 1;
      }
      .TribeContent-users {
        background: $color-secondary-background;
        width: 12rem;

        .FriendListItem {
          .FriendListItem-image-area:after {
            border-color: $color-secondary-background;
          }
          &:hover {
            background: $color-third-background;
            color: $color-third-foreground;
            .FriendListItem-image-area:after {
              border-color: $color-third-background;
            }
          }
        }

      }
    }
  }
}