$screen-size-small: 576px;
$screen-size-medium: 768px;
$screen-size-large: 992px;
$screen-size-xlarge: 1200px;

$color-main-background: #1E1E1E;
$color-main-foreground: #858585;
$color-main-active-background: #4dabf7;
$color-main-active-foreground: #ffffff;
$color-main-highlight-background: #333333;
$color-main-highlight-foreground: #E5E5E5;

$color-secondary-background: #252526;
$color-secondary-foreground: #A3A3A3;

$color-third-background: #333333;
$color-third-foreground: #E5E5E5;
