.ProfileThread {

  .ProfileThreadMessage {
    padding: 0.5rem;
    border-radius: 0.5rem;

    &.ProfileThreadMessage-currentUser {
      background-color: lightgrey;
      color: black;
    }

    &.ProfileThreadMessage-otherUser {
      background-color: darkgrey;
      color: black;
    }
  }
}