@import '../../../variables.scss';

.ProfileThread {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  background: $color-third-background;

  .ProfileThread-header {
    flex-grow: 0;
    flex-shrink: 0;

    height: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid $color-main-background;
  }

  .ProfileThreadMessages {
    flex-grow: 1;
    flex-shrink: 1;

    padding: 0.5rem;

    overflow: auto;

    .ProfileThreadMessageText {
      display: flex;
      align-items: center;

      margin: 0.5rem;
      padding: 0.5rem;
      border-radius: 0.5rem;

      &.ProfileThreadMessageText-currentUser {
        background-color: lightgrey;
        color: black;
      }

      &.ProfileThreadMessageText-otherUser {
        background-color: darkgrey;
        color: black;
      }
      .ProfileThreadMessageText-time {
        user-select: text;
        text-transform: capitalize;
        font-family: monospace;
        font-size: 0.8rem;
      }
      .ProfileThreadMessageText-separator {
        width: 0.5rem;
      }
      .ProfileThreadMessageText-user {
        user-select: text;
        font-weight: bold;
      }
      .ProfileThreadMessageText-text {
        user-select: text;
      }
    }
  }

  .ProfileThreadInput {
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    margin: 0.5rem;

    background-color: lightgrey;
    border-radius: 0.5rem;

    .ProfileThreadInput-input {
      flex-grow: 1;
      height: 2rem;
      border: 0;
      padding: 0;
      margin-left: 0.5rem;
      outline: none;
      background: transparent;
    }

    .ProfileThreadInput-action {
      height: 2rem;
      padding: 0;
      width: 1.75rem;
      border: 0;
      background: transparent;
    }

    .ProfileThreadInput-action:last-child {
      margin-right: 0.25rem;
    }
  }
}
