.Login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(50,50,50,0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  .Login-box {
    height: 60%;
    width: 30%;

    padding: 2rem 4rem;
    padding-bottom: 1rem;
    background: rgba(255,255,255,0.85);;

    display: flex;
    flex-direction: column;
    align-items: center;

    .Login-title {
      color: red;
      font-size: 3vw;
      margin-bottom: 1rem;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
    }

    .Login-input {
      margin-bottom: 1rem;
      font-size: 2vw;
      &.Login-input-username {

      }
      &.Login-input-password {

      }
    }

    .Login-button {
      margin-bottom: 1rem;
      background: red;
      border: 0;
      border-radius: 50%;

      width: 4rem;
      height: 4rem;

      &:disabled {
        cursor: not-allowed;
        background: lightgrey;
      }
    }

    .Login-button-link {
      margin-bottom: 1rem;
      background: none;
      border: 0;
      color: darkgrey;
      font-size: 2vw;
      text-decoration: none;
      &:hover {
        color: black;
      }
    }
  }

  .Login-loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,0.8);
  }
}