@import '../../variables.scss';

$main-toolbar-height: 2rem;
$main-menu-width: 4rem;

.Main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-main-background;

  .MainToolbar {
    position: absolute;
    top: 0;
    height: $main-toolbar-height;
    left: 0;
    right: 0;

    padding: 0 1rem;
    display: flex;
    align-items: center;

    color: $color-main-foreground;

    .MainToolbar-title {
      flex-grow: 1;
    }
    .MainToolbar-welcome {
    }
    .MainToolbar-logoff {
      margin-left: 1rem;
    }
  }

  .MainMenu {
    padding-top: 0.5rem;
    position: absolute;
    top: $main-toolbar-height;
    bottom: 0;
    left: 0;
    width: $main-menu-width;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: $color-main-foreground;

    .MainMenu-separator {
      width: 2.5rem;
      border-bottom: 1px solid $color-third-background;
      margin: 1rem 0;
    }

    .MainMenuItem {
      height: 3rem;
      width: 3rem;
      line-height: 3rem;
      overflow: hidden;

      display: flex;
      align-items: center;
      justify-content: center;

      text-decoration: none;

      background-color: $color-main-highlight-background;
      color: $color-main-highlight-foreground;

      border-radius: 50%;
      cursor: pointer;
      transition: border-radius 0.15s ease-in-out, background-color 0.15s ease-in-out, color 0.15s ease-in-out;

      +.MainMenuItem {
        margin-top: 1rem;
      }

      &:hover {
        border-radius: 0.5rem;
        background-color: $color-main-active-background;
        color: $color-main-active-foreground;
      }

      .Image {
        height: 3rem;
        width: 3rem;
        object-fit: cover;
      }
    }
  }

  .MainContent {
    position: absolute;
    top: $main-toolbar-height;
    bottom: 0;
    left: $main-menu-width;
    right: 0;

    border-top-left-radius: 0.75rem;

    background-color: $color-secondary-background;
    color: $color-secondary-foreground;

    .MainContent-area {
      height: 100%;
      display: flex;
      >* {
        height: 100%;
      }


      .MainContent-menu {
        border-right: 2px solid $color-main-background;
        width: 14rem;
        flex-shrink: 0;

        .MainContent-menu-header {
          height: 2.5rem;
          font-weight: bold;
          display: flex;
          align-items: center;
          padding: 0 1rem;
          border-bottom: 1px solid $color-main-background;
        }

        .MainContent-menu-section {
          .MainContent-menu-section-title {
            height: 2rem;
            line-height: 2rem;
            padding: 0 1rem;
          }
        }
      }
    }
  }
}
