@import '../../variables.scss';

$main-toolbar-height: 2rem;
$main-menu-width: 4rem;

.Main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $layer1-color-background;

  .MainToolbar {
    position: absolute;
    top: 0;
    height: $main-toolbar-height;
    left: 0;
    right: 0;

    padding: 0 1rem;
    display: flex;
    align-items: center;

    color: $layer1-color-foreground;

    .MainToolbar-title {
      flex-grow: 1;
    }
    .MainToolbar-welcome {
    }
    .MainToolbar-logoff {
      margin-left: 1rem;
    }
  }

  .MainMenu {
    padding-top: 0.5rem;
    position: absolute;
    top: $main-toolbar-height;
    bottom: 0;
    left: 0;
    width: $main-menu-width;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: $layer1-color-foreground;

    .MainMenu-separator {
      width: 2.5rem;
      border-bottom: 1px solid $layer3-color-background;
      margin: 0.5rem 0;
    }
  }

  .MainContent {
    position: absolute;
    top: $main-toolbar-height;
    bottom: 0;
    left: $main-menu-width;
    right: 0;

    border-top-left-radius: 0.75rem;

    background-color: $layer2-color-background;
    color: $layer2-color-foreground;

    .MainContent-area {
      height: 100%;
      display: flex;
      >* {
        height: 100%;
      }


      .MainContent-menu {
        border-right: 2px solid $layer1-color-background;
        width: 14rem;
        flex-shrink: 0;

        .MainContent-menu-header {
          height: 2.5rem;
          font-weight: bold;
          display: flex;
          align-items: center;
          padding: 0 1rem;
          border-bottom: 1px solid $layer1-color-background;
        }

        .MainContent-menu-section {
          .MainContent-menu-section-title {
            height: 2rem;
            line-height: 2rem;
            padding: 0 1rem;
          }
        }
      }
    }
  }
}
