.ap-button {
  border: 0;
  background: 0;
  padding: 0;
  outline: 0;

  &.ap-button-1x {
    width: 1.5rem;
    height: 1.5rem;
  }
  &.ap-button-2x {
    width: 1.5rem;
    height: 1.5rem;
  }
  &.ap-button-3x {
    width: 1.5rem;
    height: 1.5rem;
  }
  &.ap-button-4x {
    width: 1.5rem;
    height: 1.5rem;
  }
  &.ap-button-5x {
    width: 1.5rem;
    height: 1.5rem;
  }
  &.ap-button-6x {
    width: 1.5rem;
    height: 1.5rem;
  }
  &.ap-button-7x {
    width: 1.5rem;
    height: 1.5rem;
  }
  &.ap-button-8x {
    width: 1.5rem;
    height: 1.5rem;
  }
  &.ap-button-9x {
    width: 1.5rem;
    height: 1.5rem;
  }
  &.ap-button-10x {
    width: 1.5rem;
    height: 1.5rem;
  }
}