@import '../../variables';

$icon-size: 2em;

.Tracks {
  .Tracks-displayModeSelector {
    .TracksDiplayModeSelectorButton {
      margin: 0 0.1rem;
      padding: 0.45rem 0.5rem;

      background: none;
      border: 0;
      border-radius: 0.25rem;

      cursor: pointer;

      transition: background-color 0.1s ease-in-out;

      svg {
        font-size: $icon-size;
        transition: color 0.1s ease-in-out;
      }

      &:hover {
        background: $color-active-background;
        svg {
          color: $color-active-foreground;
        }
      }
    }
  }
}

